# dependencies
node_modules/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# frontend build
frontend/dist/
frontend/build/

# backend logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# cache
.cache/